<html>
<head>
</head>
<body>
<%= img_tag("logo_email.png") %>
<p>
Hello,
</p>
<p>
A friend of yours (or someone you know) <%= @user.email %> is already a member of the <a href="<%= root_url %>">Spengler</a> site, and thinks that you would benefit from using it.
</p>
<p>
In order to activate your new account you must click on the link below:
</p>
<p>
<%= root_url %>invite/activate/<%= @invite.code %>
</p>
</body>
</html>

