<table>
  <tr>
    <td>Screen Name</td>
    <td><%= @user.name %>
  </tr>
  <tr>
    <td>Forename</td>
    <td><%= @user.forename %>
  </tr>
  <tr>
    <td>Surname</td>
    <td><%= @user.surname %>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %>
  </tr>
  <tr>
    <td>Bookmarklet</td>
    <td><a href="<%= render :partial => 'bookmarklet', :locals => {:user => user} %>">Post on Spengler</a> (drag to your toolbar)</td>
  </tr>
</table>
